.git
.github
node_modules
.package
!.package
!.package/sandbox-environment
!.package/sandbox-environment/rootfs
!.package/sandbox-environment/rootfs/**
target
python/*/dist
apps/*/dist
apps/*/node_modules
apps/*/coverage
apps/ade-api/target
packages/*/dist
